.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: gold;
    transform-origin: 0%;
    color:transparent;
  }

  .firstdescription, .firstcontainer{
    margin-bottom:100px;
    margin-top:50px;
  }

  .yellowfirst{
    color:gold;
  }